@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap");

:root {
  font-family: "Kiwi Maru", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: 2fr 20fr 1fr;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  gap: 10px;
}

.header p {
  font-size: 1.5rem;
}

.header img {
  height: 40px;
}

.content-wrapper {
  height: 100%;
  background-color: rgb(246, 243, 243);
  padding: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;
  place-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;

  z-index: 20;

  background-color: white;
  width: min(400px, 60%);
  height: min(400px, 60%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem;
  border: 1px solid pink;
}

.modal-header {
  font-weight: 900;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

form {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"] {
  height: 45px;
}

.close {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
  align-self: end;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.card {
  font-size: 0.8rem;
  background-color: white;
  border-radius: 5px;
  height: 200px;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-card {
  display: grid;
  place-items: center;
}

img[src*="plus"] {
  height: 40px;
}

.title {
  font-weight: 800;
}

.footer {
  font-size: 0.7rem;
  height: 100%;
  background-color: white;
  padding: 0.75rem;
  text-align: center;
}

.footer a {
  color: blue;
}
